/* Selector Universal */

* {
    padding: 0;
    margin: 0;
}

/* Selector de Etiqueta o Tipo */
body {

    background-color: rgb(202, 202, 230);
    color: whitesmoke;

}

/* Selector de ID */
#Contenedor {
    width: 900px;
    height: 1000px;
    background-color: rgb(147, 183, 221);

}

#encabezado {
    width: 70%;
    background-color: lightsteelblue;
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}

#menu {

    height: 4%;
    background-color: rgb(236, 236, 236);
    margin: 1em;
    border-radius: 5px;
}

ul {
    text-align: center;
    padding: 10px;
}

li {

    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover {

    color: rgb(67, 179, 82);
    text-decoration: none;
    list-style: none;
}

.texto {
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(255, 255, 255);

}

#contenido {
    height: 95%;
    width: 58%;
    background-color: rgb(105, 170, 201);
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;

}

.img {

    width: 50%;
    border-radius: 30px;
    justify-items: center;

}

.encabezado-articulo {
    padding: 10px;
    text-align: center;
    background-color: rgb(62, 116, 216);
    color: white;
    margin: 1em 2em;
    border-radius: 5px;
}

#fueraSeccion {
    height: 950px;
    width: 35%;
    background-color: cornflowerblue;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.encabezado-aside {
    padding: 10px 10px;
    text-align: center;
    background-color: royalblue;
    color: white;
    margin: 1em 2em;
}

.menu-aside {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    padding: 0 2px;
    list-style: square;
    color: black;
}

.lista-aside {
    padding: 20px;
}

.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 0 2px;
    color: black;
}

#pie {
    height: 3px;
    background-color: rgb(137, 164, 194);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
    background-color: rgb(137, 164, 194);
}