/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de ID */
#contenedor {
    width: 900px;
    height: 1000px;
    background-color: whitesmoke;
    margin: auto;

}

#cabezera {

    height: 15%;
    background-color: rgb(3, 142, 3);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white
}

#barraDeNavegacion {

    height: 5%;
    background-color: rgb(3, 142, 3);
    border: 3px solid white;
}

#seccion {

    height: 70%;
    background-color: white;
    border: 3px solid rgb(3, 142, 3);
    display: block;
    align-items: center;
}

#pieDePagina {
    height: 10%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.encabezado {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

.barraNavegacion {

    font-family:'Courier New', Courier, monospace;
    font-size: medium;
    color: white;
}

.pieNavegacion {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

.texto {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    font-size: large;
}

.articulo {
    margin: auto;
    padding: 15px;
}

/*Selector de Etiqueta*/
ul {
    text-align: center;
}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}
img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
}
li a:hover {

    color: rgb(211, 55, 55);
    text-decoration: none;
    list-style: none;
}